* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.background-div {
  background: url(./images/background-img.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 538px;
  border: 1px solid transparent;
}

/* ================================================= Nav Bar ============================================================ */

nav {
  margin: 5.3rem auto 1.5rem auto;
  width: 980px;
}

.nav-div {
  display: flex;
  flex-flow: row nowrap;
}

.nav-link {
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 0.8em;
  color: rgb(247, 247, 247);
}

.nav-span {
  display: block;
  background: rgba(104, 104, 104, 1);
  background: linear-gradient(to bottom, rgba(104, 104, 104, 1) 0%, rgba(115, 115, 115, 1) 5%, rgba(94, 94, 94, 1) 49%, rgba(94, 94, 94, 1) 49%, rgba(112, 112, 112, 1) 49%, rgba(141, 141, 141, 1) 100%);
  width: 6.625rem;
  height: 2.1875rem;
  border: 1px solid #646464;
  border-left: 1px outset #808080;
  text-align: center;
  padding: 9px;
}

.nav-span:hover {
  background: rgba(78, 78, 78, 1);
  background: linear-gradient(to bottom, rgba(78, 78, 78, 1) 0%, rgba(73, 73, 73, 1) 5%, rgba(57, 57, 57, 1) 49%, rgba(67, 67, 67, 1) 49%, rgba(96, 96, 96, 1) 100%);
}

.logo-icon {
  font-size: 22px;
  position: relative;
  top: -3px;
}

.s-box {
  width: 136px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.s-box:hover {
  background: rgba(104, 104, 104, 1);
  background: linear-gradient(to bottom, rgba(104, 104, 104, 1) 0%, rgba(115, 115, 115, 1) 5%, rgba(94, 94, 94, 1) 49%, rgba(94, 94, 94, 1) 49%, rgba(112, 112, 112, 1) 49%, rgba(141, 141, 141, 1) 100%);
}

.nav-head {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-span {
  display: inline-block;
  position: relative;
  top: -25%;
}

.s-input {
  background-color: inherit;
  border: 1px inset rgba(238, 238, 238, 0.342);
  border-radius: 12px;
  width: 6.7rem;
  padding: 2px 0;
  box-shadow: inset  0 5px 0 -3px rgba(47, 47, 47, 1);
}

.s-input:focus {
  background-color: white;
}

.i-s {
  color: white;
  position: absolute;
  left: 8%;
  top: 25%;
  font-size: 11px;
}

/* =========================================== Middle articles section ============================================ */

.section-div {
  margin: 0 17.6rem;
  text-align: center;
  line-height: 1.7;
  font-family: 'Work Sans', sans-serif;
}

.section-div > a {
  color: rgba(255, 255, 255, 0.863);
  text-decoration: none;
}

.section-h1 {
  font-size: 3.8rem;
  font-weight: 200;
  letter-spacing: 0;
  color: #fff;
}

.section-p1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.863);
  line-height: 1.2;
}

.section-p2 {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6rem;
  margin-top: 1.2rem;
  color: rgba(255, 255, 255, 0.863);
}

.section-p2:hover {
  text-decoration: underline;
}

.play-i {
  position: relative;
  top: 3px;
  margin-left: 0.3rem;
  font-size: 1.8rem;
}

/* ============================================== Main section ======================================== */

.promo-grid-cont {
  display: grid;
  grid-template-columns: repeat(4, 336px);
  grid-template-rows: 202px;
  column-gap: 2px;
  margin-top: 2px;
}

img[src^="./images/promo"] {
  width: 334px;
  height: 202px;
}

/* =============================================== Footer ================================================ */

.footer-div {
  width: 983px;
  margin: 20px auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  color: #6e6e6e;
  line-height: 2.6;
}

.footer-link {
  text-decoration: none;
  color: #08c;
}

.f-span2 {
  margin-left: 70px;
}

.rel-fspan {
  position: relative;
}

img[src="./images/usa_2x.png"] {
  position: absolute;
  top: -3px;
  width: 16px;
  margin-left: 6px;
}
